body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

h1 {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    margin-top: 20px;
}